div#LoginModal {
  height: 300px;
  width: 400px; 
  border-radius: 3px;

  & h1.ModalTitle {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 5px;
    background-color: #3c98ff;
  }

  & .LoginModalForm span {
    display: block;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    color: #444444;
  }

  & span.error {
    color: red;
    font-style: italic;
    font-size: 14px;
  }
}